<mat-card>
  <mat-toolbar color="primary"><p>Course details</p></mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <mat-label>Course name</mat-label>
        <input
          matInput
          placeholder="E.g. Mastering Angular"
          formControlName="name"
          #name
        />
        <mat-hint>{{ name.value?.length }} / 100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Course category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="Frontend">Frontend</mat-option>
          <mat-option value="Backend">Backend</mat-option>
          <mat-option value="Fullstack">Fullstack</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="btn-save"
      (click)="onSubmit()"
    >
      Save
    </button>
    <button mat-button color="warn" class="btn-cancel" (click)="onCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
